
<div class="container">
  
  <div class="row">
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      
      <form #F = "ngForm" 
      class="form-horizontal" role="form"
      (ngSubmit) = "Save(F.value)"
      >
          <div class="form-group">
            <legend>Template Form Validation</legend>
          </div>

<!-- Username Part -->
          <div class="form-group">
            <input type="text" class="form-control" 
            placeholder="Enter your username"
            name="username"
            [(ngModel)] = "model.username" 
            #username = "ngModel"
            required
            >
          </div>

<!-- Username Validation -->

          <div *ngIf="username.errors && username.touched">
             <div class="alert alert-danger"
             *ngIf = "username.errors.required"
             > Username is required.
            </div>
          </div>

<!-- UserPassword Part -->

          <div class="form-group">
            <input type="password" class="form-control" 
            placeholder="Enter your userpassword"
            name="userpassword"
            [(ngModel)] = "model.userpassword"
            #userpassword = "ngModel"
            required
            >
          </div>

<!-- UserPassword Validation -->

          <div *ngIf="userpassword.errors && userpassword.touched">
            <div class="alert alert-danger"
            *ngIf = "userpassword.errors.required"
            > UserPassword is required.
           </div>
         </div>

<!-- UserEmail Part -->
         
          <div class="form-group">
            <input type="email" class="form-control" 
            placeholder="Enter your useremail"
            name="useremail"
            [(ngModel)] = "model.useremail"
            #useremail = "ngModel"
            required
            >   
          </div>

<!-- UserEmail Validation -->

          <div *ngIf="useremail.errors && useremail.touched">
            <div class="alert alert-danger"
            *ngIf = "useremail.errors.required"
            > UserEmail is required.
           </div>
         </div>

<!-- Submit -->      
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-primary"
              [disabled]= "!F.valid"
              >Submit</button>
            </div>
          </div>
      </form>
      
    </div>
    
  </div>
  
</div>
