<!-- <star-root></star-root>
<image-root></image-root> 
<heart-root></heart-root>
<struct-root></struct-root>
<drpdwn-root>
    
    <span class="body">
        <div class="dropdown" testDirective>
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"            
>
              Dropdown
              <span [class] = "isActive ? 'glyphicon glyphicon-chevron-down' : 'glyphicon glyphicon-chevron-up'" 
    (click) = "Action()"
  ></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              
            </ul>
          </div> 
        </span>
      </drpdwn-root>
   -->
   <app-template-form></app-template-form>